.Card {
	background-color: #111111;
	border: 5px solid grey;
	border-radius: 1em;
	padding: 30px;
	width: 75vw;
}

.title {
	margin: 15px 0;
}

.question {
	margin: 15px 0;
}

.content {
	margin : 15px 0;
}

.transition {;
	display: flex;
	justify-content: space-between;
	margin: 15px 0;
}

.param {
	display: flex;
	justify-content: space-between;
}

.parambox {
	width: 100px;
}

.content {
	font-size: 0.5em;
}

.show {
	animation: fadeIn 1s forwards;
}

@keyframes fadeIn{
	from{
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
